/*
Theme Name: Bridge
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: Bridge Theme
Tags: creative, portfolio, multi-purpose, clean, retina, responsive, parallax, mega menu, blog, agency, business, fullscreen, modern, background video, ajax
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 10.0
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/
::selection {
    background: #4d8eca;
    color: #fff;
}
nav.mobile_menu ul li a:hover, nav.mobile_menu ul li.active>a {
    color: #4d8eca;
}
.left_menu{

}
.left_menu div{
    float: left;
}
.left_menu ul{

}
#mobile_footer_bot{
    display: none;
}
.left_menu ul li{
    list-style: none;
    float: left;
    margin-right: 16px;
}
.top_lefu_sns ul li a{
    font-size: 15px !important;
}
.left_menu ul li a{
    color: #dddddd;
    font-size: 11px;
}
.sns_footer ul li i{
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.03);
    position: relative;
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(58, 58, 58);
}
.footer_bottom ul li {
    margin-right: 20px;
}
.footer_bottom ul li a{
    font-size: 11px;
    font-weight: 600;
}
#back_to_top span{
    border: 0;
}
.lastest_news li{
    width: calc(50% - 20px);
    float: left;
    list-style: none;
    padding: 0;
    padding-bottom: 32px;

}
.lastest_news li:nth-child(2n+1){
    padding-right: 40px;
}
.ads_bottom_post{
    margin: 0 auto;
    width: 300px;
}
.ads_top_post{
    margin-bottom: 10px;
}
.menu_footer_moblie{
    display: none;
}
.wp-pagenavi {
    clear: both;
    padding: 18px 0 50px 0;
    text-align: center;
}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #e2e2e2;
    padding: 8px 14px;
    margin: 2px;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: rgba(0,0,0,0);
    background: #4db2ec;
    color: #fff;
}
.Post-desc h3 a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.Post-desc p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top: 7px;
}
.Post-desc h3{
    margin-bottom: 6px;
}
.header_top .right{
    display: none;
}
.header_top {
    line-height: 28px;
    height: 28px;

}
.mobile_menu_button i{
    font-size: 30px;
    color: black;
}
.header_bottom{
    padding: 0;
}
.header_bottom .container{
    width: 90%;
    margin: 0 auto;
}
.search_button i{
    font-size: 20px;
    position: relative;
    top: -3px;
}
.title_blog{
    margin-bottom: 17px;
    border-bottom: 2px solid #4db2ec;
}
.title_text{
    background: #4db2ec;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 3px 0;
    text-transform: uppercase;
}
iframe{
    max-width: 100%!important;
    max-height: 390px;
}
.single_links_pages {
    margin: 20px 0 30px !important;
}
.single_tags {
    margin: 26px 0 20px;
}
.pre_next_link{
    display: table;
    margin-bottom: 30px;
    width: 100%;
}
.single_links_pages span {
    color: #ffffff;
    border: 0 solid #4db2ec;
    background-color: #4db2ec;
}
.single_links_pages span {
    width: 33px;
    height: 33px;
    line-height: 33px;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0 5px 0 0;
}
#submit_comment:hover, .blog_load_more_button a:hover, .drop_down .wide .second ul li .qbutton:hover, .drop_down .wide .second ul li ul li .qbutton:hover, .load_more a:hover, .qbutton:hover {
    background-color: #4db2ec;
    border-color: #4db2ec;
    color: #fff;
    text-decoration: none;
}
.single_links_pages a:hover span {
    background-color: #4db2ec;
    border-color: #e3e3e3;
    color: #f7f7f7;
}
.pagination ul li a, .pagination ul li span {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.pagination ul li a:hover, .pagination ul li span {
    color: #ffffff;
    background-color: #4db2ec;
}
.single_links_pages a span {
    color: #b4b4b4;
    background-color: transparent;
    border: 1px solid #e5e5e5;
}
#submit_comment, .blog_load_more_button a, .drop_down .wide .second ul li .qbutton, .drop_down .wide .second ul li ul li .qbutton, .load_more a, .qbutton{
    border: 1px solid #a5a5a5;
}
.author_custom{
    color: #000;
    font-weight: 600;
}
.widget_widget_tptn_pop h5{
    display: none;
}
nav.main_menu>ul>li.active>a {
    color: #4db2ec;
}
nav.main_menu>ul>li>a {
    color: #131313;
}
aside .widget {
    margin: 0 0 17px;
}
.tptn_posts li:nth-child(1) img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.tptn_posts li:nth-child(1) .tptn_date{
    display: none;
}
.wpb_widgetised_column .widget {
    margin: 0 0 20px;
}
.tptn_posts li .tptn_title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    display: table;
    color: #303030;
}
.wpb_widgetised_column .widget li{
    margin: 0 0 15px !important;
}
.tags_text{
    display: none;
}
.single_links_pages{
    text-align: left;
}
.tptn_posts li:nth-child(1) .tptn_title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    display: table;
    position: relative;
    top: 3px;
}
.tptn_posts li{
    display: table;
}
.tptn_posts li:nth-child(1) a{
    font-size: 17px;
    color: #303030;
    font-weight: 600;
}
.tptn_posts li div{
}
.lastest_news .post_thumbnail img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}
.lastest_post li:nth-child(1) .lastest_post_thumbnail img{
    height: 230px;
    object-fit: cover;
}
.thumbnail_popular{
    width:100%;
}
.tptn_posts li img{
    width: 120px;
    float: left;
    height: 80px;
    object-fit: cover;
    margin: 0 10px 0 0;
}

.text_popular{

}
.tptn_counter{
    display: none;
}
.header_bottom{
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,.08);
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #4d8eca;
}
.tptn_posts .tptn_title{
    display: block;
}
.lastest_post li {
    list-style: none;
    margin-bottom: 10px;
    display: table;
}
.content{
    background: #fff;
}
.lastest_post li .lastest_post_desc h3 a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.lastest_post li:nth-child(1) .lastest_post_desc h3 a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
}
.lastest_post li .lastest_post_desc p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: none;
}
.lastest_post li:nth-child(1)  .lastest_post_thumbnail{
    width:100%;
    clear: both;
    float: none !important;
}
.lastest_post li:nth-child(1) .lastest_post_thumbnail img{
    width:100%;
}
.lastest_post li .lastest_post_thumbnail img{
    min-height: 80px;
    object-fit: cover;
}
.lastest_post li .lastest_post_thumbnail{
    width: 35%;
    float: left;
    margin-right: 10px;
}
.content .container .container_inner.page_container_inner, .full_page_container_inner {
    padding: 60px 0 0;
}
.banner_home_sidebar{
    /*min-height: 380px;*/
}
.title_holder{
    padding-top: 50px !important;
}
.title_size_small{
    height: 160px !important;
}
.lastest_post .lastest_post_desc h3{
    font-size: 14px;
    line-height: 23px;
}
.lastest_post li:nth-child(1) .lastest_post_desc p{
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: block;
}
/*lasttest_post_custom*/

.lastest_post_custom {
    display: table;
    padding-bottom: 48px;
}
.lastest_post_custom li:nth-child(1){
    width: 50%;
    float: left;
    padding-right: 5px;

}
.lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom{
    height: 403px;
    overflow: hidden;
    background: rgba(0,0,0,0);
    background: linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,0));
}
.lastest_post_thumbnail_custom{
    position: relative;
}
.lastest_post_thumbnail_custom:before{
    content: "";
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
    width: 100%;
    height: 100%;
    z-index: 1;
}
.lastest_post_custom li .lastest_post_thumbnail_custom:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s ease, opacity 0.3s;
    -webkit-transition: all 0.3s ease, opacity 0.3s;

}

.lastest_post_custom li .lastest_post_thumbnail_custom img {
    transition: all 0.3s ease, opacity 0.3s;
    -webkit-transition: all 0.3s ease, opacity 0.3s;
    height: 400px;
    object-fit: cover;
    width: 100%;
}
.lastest_post_custom li:nth-child(1) .lastest_post_desc_custom  h3{
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
}
.lastest_post_desc_custom h3{
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}
.lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom,
.lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom,
.lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom,
.lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom{
    height: 200px;
    overflow: hidden;
    margin: 0 3px 3px 0;
    background: rgba(0,0,0,0);
    background: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,0));

}

.lastest_post_custom li:nth-child(2) .info_post,
.lastest_post_custom li:nth-child(3) .info_post,
.lastest_post_custom li:nth-child(4) .info_post,
.lastest_post_custom li:nth-child(5) .info_post{
    display: none;
}

.lastest_post_custom li .info_post .author_custom{
    color: #fff;

}

.lastest_post_custom li .info_post .Post-info{
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img,
.lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img,
.lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img,
.lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img{
    height: 200px;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img:before,
.lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img:before,
.lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img:before,
.lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img:before{
    background: rgba(0,0,0,0);
    background: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,0));
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 10;
}

.lastest_post_custom li:nth-child(2) .lastest_post_desc_custom  h3,
.lastest_post_custom li:nth-child(3) .lastest_post_desc_custom  h3,
.lastest_post_custom li:nth-child(4) .lastest_post_desc_custom  h3,
.lastest_post_custom li:nth-child(5) .lastest_post_desc_custom  h3{
    font-size: 16px;
}
.lastest_post_custom li{
    list-style: none;
    position: relative;
    width: calc(25% - 5px);
    float: left;

}
.lastest_post_custom .lastest_post_desc_custom{
    position: absolute;
    bottom: 0;
    padding: 0 15px 11px;
    z-index: 2;
}
.lastest_post_custom li:nth-child(1) h3 a{

}
.lastest_post_custom li h3 a{

}
/* END lasttest_post_custom*/
.wpcf7 form.wpcf7-form p {
    margin-bottom: 0;
}
input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
    margin-top: 15px;
    margin-bottom: 15px;
}
input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
    border: 1px solid rgba(48, 48, 48, 0.2);
    color: #303030;
}
.author_description {
    display: none;
}
div.comment_form {
    display: none;
}
.comment_holder {
    display: none;
}
#respond textarea {
    background: #eee;
}
.content, .content .container, .full_width {
    background-color: #ffffff;
}
#gallery-1 .gallery-item:nth-child(1){
    margin-right: .5%;
}
#gallery-1 .gallery-item:nth-child(2){
    margin-right: .5%;
}
#gallery-1 img {
    border: 0 !important;
    height: 160px;
    object-fit: cover;
}
#gallery-1 .gallery-caption {
    margin-left: 0;
    line-height: 1.5em;
}
.rpbt_shortcode{
    margin: 60px 0 30px 0;
}

.blog_holder article .post_image, .blog_holder article .post_image img, .blog_holder article .post_image>a {
    /*display: none;*/
    max-height: 370px;
    object-fit: cover;
}
.title .title_holder .container {
    display: none;
}
.ads_top{
    margin-bottom: 30px;
    width: 100%;
}
.content .container .container_inner.page_container_inner, .full_page_container_inner {
    padding: 30px 0 0;
}
.blog_holder article .post_info a, .blog_holder article .post_text h2 .date {
    display: none;
}
.blog_holder article .post_info {
    display: none;
}
.fb_iframe_widget iframe {
    width: 100% !important;
}
.fb_iframe_widget span {
    width: 100% !important;
}
.fb_iframe_widget {
    width: 100% !important;
    margin-bottom: 80px;
}
nav.mobile_menu ul li a, nav.mobile_menu ul li h3 {
    color: #444;

}
input.wpcf7-form-control.wpcf7-date, input.wpcf7-form-control.wpcf7-number, input.wpcf7-form-control.wpcf7-quiz, input.wpcf7-form-control.wpcf7-text, select.wpcf7-form-control.wpcf7-select, textarea.wpcf7-form-control.wpcf7-textarea {
    background-color: #f7f7f7;
    border-radius: 3px;
}
.wpcf7 p {
    font-size: 13px;
    line-height: 1em;
}
.fb_button a{
    padding: 7px 10px;
    background: #3b5998;
    color: #fff;
}
.fb_button span{
    padding-left: 5px;
}
.fb_button i{
    padding: 5px 7px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.tw_button a{
    padding: 7px 10px;
    background: #55acee;
    color: #fff;
}
.tw_button span{
    padding-left: 5px;
}
.tw_button i{
    padding: 5px 7px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.in_button a{
    padding: 7px 10px;
    background: #55acee;
    color: #fff;
}
.in_button span{
    padding-left: 5px;
}
.in_button i{
    padding: 5px 7px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.p_button a{
    padding: 7px 10px;
    background: #bd081c;
    color: #fff;
}
.btn_sns_page{
    float: left;
    margin-right: 10px;
}
.p_button span{
    padding-left: 5px;
}
.p_button i{
    padding: 5px 7px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.follow_sns{
    display: table;
    padding: 15px;
}
.follow_sns_overflow{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.1);
    clear: both;
    margin-top: 20px;
}
.rpbt_shortcode .title_blog{
    margin-bottom: 10px;
}
.ads_top_relate{
    margin: 20px 0;
}
.custom_link{
    width: 50%;
    float: left;
}
.custom_link p{
    color: #c1c1c1;
}
.next_post_link{
    text-align: right;
}

#gallery-1 .gallery-caption {
    margin-left: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4em;
}
.news_post_title{
    display: none;
}
@media (max-width: 1200px){
    .lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom {
        height: 333px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom {
        height: 165px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img {
        height: 165px;
    }
    .lastest_post_custom {
        padding-bottom: 30px;
    }
}

@media (max-width: 1024px) {
    .lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom {
        height: 271px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom {
        height: 128px;
    }

    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img {
        height: 128px;
    }
    .lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom {
        height: 258px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(3) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(4) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(5) .lastest_post_desc_custom h3 {
        font-size: 12px;
    }
    .lastest_post_custom li:nth-child(1) .lastest_post_desc_custom h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
    }
    .lastest_post li:nth-child(1) .lastest_post_thumbnail img {
        height: 140px;
        object-fit: cover;
    }
    .lastest_post li .lastest_post_thumbnail img {
        min-height: 65px;
        object-fit: cover;
    }
    .lastest_post li .lastest_post_desc h3 a {
        font-size: 11px;
    }
    h3 a {
        font-size: 17px;
    }
    iframe {
        max-height: 290px;
    }
}
@media (max-width: 768px) {
    .follow_sns i {
        border-right: 0;
    }
    .follow_sns span{
        display: none;
    }
    .follow_sns {
        padding: 10px 5px;
    }
    .follow_sns a {
        padding: 5px;
    }
    .follow_sns h5{
        font-size: 11px;
        position: relative;
        top: 4px;
    }
    .blog_holder article .post_image, .blog_holder article .post_image img, .blog_holder article .post_image>a {
        max-height: 250px;
    }
    .ads_top {
        margin-bottom: 15px;
    }
    #gallery-1 img {
        height: 80px;
    }
    .title_size_small{
        height: 0 !important;
    }
    .lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom {
        height: 271px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom {
        height: 134px;
    }

    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img {
        height: 134px;
    }
    .container_inner {
        width: 90%;
        margin:0 auto;
    }
    .lastest_post_custom {
        padding-bottom: 10px;
    }
    .header_bottom .container{
        width: 100%;
        margin: 0 auto;
    }
    .pages{
        display: none;
    }
    .wp-pagenavi a, .wp-pagenavi span {
        text-decoration: none;
        border: 1px solid #BFBFBF;
        padding: 4px 8px;
        margin: 2px;
    }
    .last{
        display: none;
    }
    .extend{
        display: none;
    }
    .lastest_news li:nth-child(2n+1) {
        padding-right: 20px;
    }
    .lastest_news li {
        width: calc(50% - 10px);
        float: left;
        list-style: none;
        padding: 0;
        padding-bottom: 32px;
    }
}
@media (max-width: 767px){
    .lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom {
        height: 300px;
        margin-bottom: 10px;
    }

    .lastest_post_custom li .lastest_post_thumbnail_custom img {
        height: 300px;
        object-fit: cover;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom {
        height: 140px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img {
        height: 140px;
    }
    .lastest_post_custom li:nth-child(1) .lastest_post_desc_custom h3 {
        font-size: 15px;
    }
    .lastest_post_custom .lastest_post_desc_custom {
        padding: 0 10px 10px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(3) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(4) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(5) .lastest_post_desc_custom h3 {
        font-size: 9px;
    }
    .lastest_post li:nth-child(1) .lastest_post_thumbnail img {
        height: 270px;
    }
    .lastest_post li .lastest_post_thumbnail {
        width: 25%;
    }
    .lastest_post li .lastest_post_thumbnail img {
        min-height: 80px;
    }
    .lastest_post_custom li {
        width: calc(50%);
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img {
        height: 140px;
    }
    .lastest_post_custom li:nth-child(1) {
        width: 100%;
    }
    #gallery-1 .gallery-item {
        width: 100% !important;
    }
    #gallery-1 img {
        height: 180px !important;
    }
}
@media(max-width: 600px) {
    .news_post_title{
        display: block;
    }
    .lastest_post_custom li:nth-child(1) .lastest_post_thumbnail_custom {
        height: 200px;
    }

    .header_bottom .container{
        width: 90%;
        margin: 0 auto;
    }
    .lastest_news li{
        width: 100%;
    }
    .footer_top, .footer_top .footer_col1, .footer_top .container_inner > .widget, .footer_top.footer_top_full > .widget{
        text-align: center;
    }
    #text-6{
        text-align: center;
    }
    #text-7{
        text-align: center;
    }
    .menu_footer_moblie{
        display: block;
    }
    .menu_footer_desktop{
        display: none;
    }
    .column2 .footer_bottom{
        display: none;
    }
    .footer_bottom ul li {
        margin-right: 9px;
    }
    .menu_footer{
        padding: 0;
    }
    .footer_bottom p {
        padding-bottom: 5px;
    }
    .sns_footer{
        width: 210px;
        margin: 0 auto;
    }
    .lastest_news .post_thumbnail img {
        height: 260px;
        object-fit: cover;
    }
    .lastest_post_custom li:nth-child(1) {
        width: 100%;
        float: left;
        padding-right: 5px;
        margin-bottom: 0;
    }
    #text-31{
        text-align: center;
    }
    #text-32{
        text-align: center;
    }
    iframe {
        max-height: 250px;
    }
}
@media(max-width: 414px) {
    .lastest_post_custom li {
        width: 100%;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom {
        height: 200px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom img, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom img {
        height: 200px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(3) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(4) .lastest_post_desc_custom h3, .lastest_post_custom li:nth-child(5) .lastest_post_desc_custom h3 {
        font-size: 17px;
    }
    .lastest_post_custom li:nth-child(2) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(3) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(4) .lastest_post_thumbnail_custom, .lastest_post_custom li:nth-child(5) .lastest_post_thumbnail_custom {
        margin: 0 0px 10px 0;
    }
    .lastest_post_custom {
        padding-bottom: 0;
    }
    .lastest_post_custom li .lastest_post_thumbnail_custom img {
        height: 200px;
        object-fit: cover;
    }
    .lastest_post_custom .lastest_post_desc_custom {
        padding: 0 10px 15px;
    }
    .blog_holder article .post_image, .blog_holder article .post_image img, .blog_holder article .post_image>a {
        max-height: 220px;
    }
    .lastest_news .post_thumbnail img {
        height: 200px;
    }
}
@media(max-width: 375px) {
    #gallery-1 img {
        height: 60px;
    }
}